@media (max-width: 767px) {
    .blog_320{
        margin-top: 48px;
        }
        .main_story{
        display: none;
        }
        .list-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0 20px 0;
        }
        .blog_description{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 30px; 
        color: #7d8b90;
        text-align: center;
        }
        .blog_cards {
        padding: 0px 11px 24px 11px;
        width: 90%;
        margin-bottom: 18px;
        }
        .blog_card_img {
        display: block;
        width: 100%;
        height: 51%;
        margin: 0 auto;
        }
        .blog_item {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;;
        }
        .blog_item .storypage_btn {
        display: block;
        width: 75%;
        height: 35px;
        line-height: 35px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        }
        h3{
        font-size: 21px;
        margin-bottom: 20px;
        text-align: center;
        }
        .blog_text {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        }
        
}


@media (min-width: 768px) {

.list-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 100%;
    height: 509px;
}
.blog_cards{
    padding: 0 15px 10px 15px;
    width: 33%;
    height: 516px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .blog_description{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 30px; 
    color: #7d8b90;
    text-align: center;
    }
    .blog_item{
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .blog_card_img{
    display: block;
    width: 100%;
    height: 58%;
    margin-bottom: 20px;
    transition: 1s;
    }
    .blog_item:hover{
    cursor: pointer;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.13);
    transition: 0.5s;
    }
    h3{
    display: block;
    padding:0 10px 0 10px;
    color: #273d46;
    font-size: 24px;
    text-align: center;
    }
   
    .blog_text{
    display: block;
    margin-top: 10px;
    color: #52646b;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    }
    .blog_item .storypage_btn{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:190px;
    }

    .storypage_btn:hover{
    letter-spacing: 5px;
    }

    
 

}