*{
	box-sizing: border-box;
}
body{
	font-family: 'Playfair Display', serif;
	background-image: url(images/Ellipse.png) ;
	 -moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
   background-size: cover; 
    background-repeat: no-repeat;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}
.section{
	margin: 0 auto;
}
.row:after{
content: '';
display: block;
clear: both;
}

[class*="col-"] {
	float: left;
	margin-left: 1.6%;
	}

.col-md-3{
	width: 23%;
}
.col-md-6{
	width: 44%;
}
.col-md-9{
	width: 67%;
}
.col-md-5{
	width: 37%;
}
.col-md-2{
	width: 15%;
}
.col-md-8{
	width: 60%;
}
.col-md-7{
	width: 53%;
}
.col-md-4{
	width: 30%;
}
.col-md-1{
	width: 7%;
}
.col-md-11{
	width:81%;
}
.col-md-10{
	width: 74%;
}

header{
	width: 100%;
	margin: 0 auto;
	height: 303px;
	padding: 81px 210px 60px 55px;
	position: relative;
}

.burger_menu{
margin-top: -45px;
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex; 
  align-items: center;  
  width: 30px;
  height: 23px;
  cursor: pointer;
  z-index: 1;
  margin-bottom: 20px;
 
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #939ea2;
  border-radius: 4px;
 }
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  visibility: hidden;
  width: 180px;
  height: 100%;
  margin: -25px;
  padding: 15px 0px ;
  list-style: none;
  text-align: center;
  z-index: 5;

 }
 .menu__item li{
 display: block;
 width: 180px;
 }
.menu__item {
  display: block;
  width: 180px;
  padding: 10px 0;
  color: #273d46 ;
  font-size: 30px;
  text-decoration: none;

   }
.menu__item:hover {
 color:#80b7b3;
 }
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  transition-duration: .5s
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  transition-duration: .5s
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  transition-duration: .5s;
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.header_text{
	display: block;
font-family: 'Poppins', sans-serif;
font-size: 189px;
color: #e9ebec;
text-transform: uppercase;
letter-spacing: 52px;
padding: 0;
transition: 1s;
transform: scale3d(1.1);
}
.main_story{
	margin-top: 45px;
	}
.name{
	position: absolute;
	top: 0;
	display: block;
	left:479px;
	width: 293px;
	height: 130px;
	background-color: #80b7b3;
	box-shadow: 0 20px 40px  rgba(0,0,0,0.23);
	font-size: 68px;
	color: white;
	text-align: center;
	padding-top: 42px;
	transition: 1.3s;
    transform: scale(1.1);
	}
    .link_name{
    	color: white;
    	display: block;
    }
	.link_name:active {
  color: white;
}
.link_name:visited {s
  color: white;
}
.link_name:link {
  color: white;
}
.last_travel_story{
	padding: 0 61px 130px 0;
	
}
.description{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 30px; 
	color: #7d8b90;
}
h2{
	display: block;
	width: 438px;
	color: #273d46;
	font-size: 36px;
	margin-bottom: 74px;
}
.last_travel_story__text{
	display: block;
	width: 420px;
	color: #52646b;
	font-size: 24px;
}
.storypage_btn{
	display: block;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	width: 200px;
	height: 44px;
	margin-top: 42px;
	margin-left: -3px;
	background-color: #80b7b3;
	color: white;
	font-size: 14px;
	text-align: center;
	letter-spacing: 4px;
	line-height: 40px;
	border-radius: 100px;
	transition: 0.4s;
	text-transform: uppercase;
}
.storypage_btn span{
	display: inline-block;
	margin: 0 auto;
	}
.storypage_btn:hover{
	box-shadow: 1px 1px 10px 1px #d5e7e6;
	transition: 0.4s;
	background-color: #80b7b3;
	letter-spacing: 6px;
	background-color: #98c7c4;
}
.last_travel_story__img{
    position: absolute;
    width: 705px;
    height: 577px;
    right: 0;
    z-index: -4;
}
.last_travel_story__mini-img{
    width: 372px;
    height: 248px;
    border: 15px solid white;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.13); 
    margin-top: 84px;
    transition: 1s;	
}
.last_travel_story__mini-img:hover{
transform: scale(1.1); 
transition: 1s;	
}
.blog_cards{
padding: 0 15px 100px 15px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.blog_description{
font-family: 'Poppins', sans-serif;
font-size: 14px;
text-transform: uppercase;
margin-bottom: 30px; 
color: #7d8b90;
text-align: center;
}
.blog_item{
width: 350px;
height: 500px;
margin-bottom: 40px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.blog_card_img{
display: block;
width: 100%;
height: 44%;
margin-bottom: 20px;
transition: 1s;
}
.blog_item:hover{
cursor: pointer;
box-shadow: 1px 1px 20px rgba(0,0,0,0.13);
transition: 0.5s;
}
h3{
display: block;
padding:0 10px 0 10px;
color: #273d46;
font-size: 24px;
text-align: center;
}
.blog_text{
display: block;
margin-top: 10px;
color: #52646b;
font-size: 14px;
line-height: 17px;
text-align: center;
}
.blog_item .storypage_btn{
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}
.blog_item .storypage_btn{
width:190px;
}
.storypage_btn:hover{
letter-spacing: 5px;
}

.description_video{
	display: block;
	position: absolute;
	right: 10%;
	margin-top: 30px;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 30px; 
	color: #7d8b90;
	transition: 0.5s;
}
.description_video:hover{
	transition: 0.5s;
	transform: scale(1.2);
	color: #80b7b3;
	cursor: pointer;
}
.about_me{
	margin-top: 30px;
	padding: 87px 195px 0 133px;
	position: relative;
}
.about_me__img{
	width: 520px;
	height:406px;
}
.quote_wrap{
	margin-top: 42px;
    margin-left: 122px;
}
.about_me h3{
	width: 390px;
	text-align: left;
	font-size: 35px;
}
.quote{
	width: 750px;
	height: 309px;
	padding: 64px 98px 70px 97px;
	background-color: white;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.13); 
	font-size: 14px;
	position: absolute;
	bottom: -133px;
    right: 95px;
	}
.quote_text{
	font-style: italic;
	font-size: 26px;
	line-height: 46px;
	color: #273d46;
}
.quote .description{
	margin-top: 37px;
	margin-bottom: 23px;
}
.quote .storypage_btn{
	position: absolute;
	margin-top: 11px;
	margin-left: 182px;
}
.footer{
background-image: url(images/footer-photo.png);
background-repeat: no-repeat;
width: 100%;
height: 629px;
margin-top: 277px;
padding-top:135px ;
background-size: cover;

}
.ask_me{
margin-top: 260px;
background-color:  rgba(60,79,87,0.9);
width: 669px;
height: 325px;
margin:0 auto;
padding:59px 71px 56px 71px;
border-radius: 30px;
}
.question input{
display: block;
	
}
.form_text{
display: block;
text-align: center;
font-family: 'Poppins', sans-serif;
font-size: 16px;
color: #d8dcdd;
width: 440px;
margin:0 auto;
line-height: 30px;
}
.questions{
display: block;
margin-top: 39px;
font-size: 25px;
text-align: center;
color: #80b7b3;
}
.field_question{
border-radius: 100px;
width: 247px;
height: 44px;
outline: none;
-moz-appearance: none;
border: 1px solid #999;
padding: 5px 5px;
font-size: 16px;
background-color: rgba(0,0,0,0.2); 
border: 1px solid  rgba(92,106,110,0.9);
color: #a3aaac;
padding:18px 36px;
margin-right: 26px;
}
.email_question{
outline: none;
-moz-appearance: none;
border: 1px solid #999; 
border-radius: 100px;
width: 247px;
height: 44px;
background-color: rgba(0,0,0,0.2); 
border: 1px solid  rgba(92,106,110,0.9);
color: #a3aaac;	
padding:18px 36px;
font-size: 16px;
}
.email_description{
display: block;
margin-top: 20px;
color: #80b7b3;
}

.btn_send{
display: block;
text-decoration: none;
font-family: 'Poppins', sans-serif;
width: 232px;
height: 44px;
margin-left: -3px;
background-color: #80b7b3;
color: white;
font-size: 14px;
text-align: center;
letter-spacing: 4px;
line-height: 40px;
border-radius: 100px;
margin-top: 21px;
transition: 0.4s;
margin:0 auto;
margin-top: 20px;
}
.btn_send:hover{
transition: 0.4s;
background-color: #80b7b3;
letter-spacing: 6px;
background-color: #98c7c4;
cursor: pointer;
}
.btn_send:active{
text-decoration: none;
border: none;
outline: none;
}
.footer_social{
	height: 50px;
	width: 650px;
	display: flex;
	margin: 0 auto;
	padding-right: 20%;
	padding-left: 20%;
	justify-content: space-between;
	margin-top: 70px;
}
.icons {
	color: white;
	display: flex;
	width: 35px;
	height: 35px;
	transition: 0.4s;
justify-content: space-between;
}
.icons:hover{
	cursor: pointer;
	transition: 0.4s;
	transform: scale(1.1);
}
.join_me{
	display: flex;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #a2a9ab;
	justify-content: center;
	margin-top: 10px;
}







@media (max-width: 320px){
header {
    width: 100%;
    margin: 0 auto;
    height: 139px;
    padding: 81px 55px 43px 55px;
    position: relative;
}
.header_text {
    font-size: 41px;
    margin-top: 19px;
    margin-left: 3px;
    letter-spacing: 17px;
}
.name {
    width: 110px;
    height: 83px;
    font-size: 29px;
    left: 32%;
}
.burger_menu {
    margin-top: -74px;
    margin-left: -47px;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 45px;
  height: 5px;
  background-color: #939ea2;
  border-radius: 4px;
 }
 .menu__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 50%;
    height: 234px;
    margin: -8px;
    padding: 0px 0px;
    list-style: none;
    text-align: center;
    z-index: 6;
    background-color: rgba(206,214,217, 0.8);
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  transition-duration: .5s;
  z-index: 7;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  transition-duration: .5s;
   z-index: 7;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  transition-duration: .5s;
   z-index: 7;
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
}
#menu__toggle:checked ~ label:focus {
	z-index: 20;

} 

.blog_320{
	margin-top: 48px;
}
.main_story{
	display: none;
}
.blog_cards {
 padding: 0 15px 47px 15px;
}
.blog_item {
    width: 305px;
    height: 385px;
    margin-bottom: 24px;
   }
.blog_item .storypage_btn {
    width: 178px;
    height: 40px;
    margin-top: 10px;
}
iframe{
	height: 300px;
}
.about_me{
	display: none;
}
.footer {
    background-image: url(images/footer-photo.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 447px;
    margin-top: 87px;
    padding-top: 14%;
    background-size: cover;
}
.ask_me {
    background-color: rgba(60,79,87,0.9);
    width: 70%;
    height: 236px;
    margin: 0 auto;
    padding: 16px 11px 6px 11px;
    border-radius: 30px;
}
.form_text {
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #d8dcdd;
    width: 100%;
    margin: 0 auto;
    line-height: 15px;
}
.questions {
    display: block;
    margin-top: 17px;
}
.field_question, .email_question {
    border-radius: 100px;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
}
.btn_send {
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 40px;
    margin-left: 0px;
    background-color: #80b7b3;
    color: white;
    font-size: 13px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 33px;
    border-radius: 100px;
    margin-top: 21px;
    transition: 0.4s;
    margin: 0 auto;
    margin-top: 18px;
}
.footer_social {
    height: 50px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-right: 7%;
    padding-left: 7%;
    justify-content: space-between;
    margin-top: 60px;
}
}



