@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Poppins:500&display=swap');

.main_story{
    margin-top: 45px;
    }
    .name{
    position: absolute;
    top: 0;
    display: block;
    left:479px;
    width: 293px;
    height: 130px;
    background-color: #80b7b3;
    box-shadow: 0 20px 40px  rgba(0,0,0,0.23);
    font-size: 68px;
    color: white;
    text-align: center;
    padding-top: 42px;
    transition: 1.3s;
    transform: scale(1.1);
    }
    .link_name{
        color: white;
        display: block;
    }
    .link_name:active {
    color: white;
    }
    .link_name:visited {
    color: white;
    }
    .link_name:link {
    color: white;
    }
    .last_travel_story{
    padding: 0 61px 130px 0;
    
    }
    .description{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 30px; 
    color: #7d8b90;
    }
    h2{
    display: block;
    width: 438px;
    color: #273d46;
    font-size: 36px;
    margin-bottom: 74px;
    line-height: 36px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    text-transform: none;
    }
    .last_travel_story__text{
    display: block;
    width: 420px;
    color: #52646b;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    }
    .storypage_btn{
    display: block;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    height: 44px;
    margin-top: 42px;
    margin-left: -3px;
    background-color: #80b7b3;
    color: white;
    font-size: 14px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 40px;
    border-radius: 100px;
    transition: 0.4s;
    text-transform: uppercase;
    }
    .storypage_btn span{
    display: inline-block;
    margin: 0 auto;
    }
    .storypage_btn:hover{
    box-shadow: 1px 1px 10px 1px #d5e7e6;
    transition: 0.4s;
    background-color: #80b7b3;
    letter-spacing: 6px;
    background-color: #98c7c4;
    }
    .last_travel_story__img{
    position: absolute;
    width: 705px;
    height: 577px;
    right: 0;
    z-index: -4;
    }
    .last_travel_story__mini-img{
    width: 372px;
    height: 248px;
    border: 15px solid white;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.13); 
    margin-top: 84px;
    transition: 1s;	
    }
    .last_travel_story__mini-img:hover{
    transform: scale(1.1); 
    transition: 1s;	
    }